body {
  font: 400 16px/1.5 Roboto, sans-serif;
  color: $primary;
  background-color: $bg-main;
}

h1,
h2,
h3,
h4 {
  line-height: 1.5;
  color: $white;
}

h1,
h2,
h3 {
	text-align: center;
  @include upCase;
}

h1,
h2,
h4 {
  @include bold;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

h4 {
  font-size: 18px;
}

@include mobile {
  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: $basic;
  }

  img {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: block;
  padding: 20px 30px;
  color: $white;
  border: none;
  border-radius: 5px;
  @include upCase;
  @include text-center;
  cursor: pointer;

  &-green {
    background-color: $bg-green;
  }

  &-purple {
    background-color: $bg-purple;
  }

  &-brown {
    background-color: $bg-brown;
  }

  &-brown-small {
    padding: 1rem 40px;
    background-color: $bg-brown;
    border-radius: 2rem;
    text-transform: none;
  }

  &-clear {
    padding: 20px 0;
    border: 1px solid $white;
    background-color: transparent;
  }

  &-grey {
    padding: 1rem 30px;
    color: $primary;
    border: 1px solid $primary;
    background-color: transparent;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px !important;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}
