@mixin square($side) {
  display: inline-block;
  width: $side;
  height: $side;
}

@mixin bold {
  font-weight: 700;
}

@mixin upCase {
  text-transform: uppercase;
}

@mixin text-center {
  text-align: center;
}

@mixin capitalize {
  text-transform: capitalize;
}

@mixin bg-center {
  background-position: center;
  background-size: cover;

  @content;
}

@mixin mobile {
  @media (max-width: 1239px) {
    @content;
  }
}

@mixin flex($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;

  @content;
}

@mixin grid-bar {
  &-bar {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 25px 50px;

    @include mobile {
      grid-template-columns: repeat(2, 137px);
    }
  }
}
