.pricing {
  @include flex;
  column-gap: 50px;

  @include mobile {
    flex-direction: column;
    row-gap: 50px;
  }

  margin-bottom: 40px;

  &-item {
    box-sizing: border-box;
    flex: 1 1 374px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 120px repeat(3, auto);
    row-gap: 40px;
    padding: 1.5rem;
    border-radius: 1rem;

    color: $white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include mobile {
      max-width: 374px;
      padding-top: 1rem;
    }
  }

  &-value {
    @include flex(center, flex-start) {
      column-gap: 1rem;
    }
    color: $white;
    .price {
      line-height: 1;
    }

    .value {
      @include up-case;
    }
  }

  &-footer {
    margin: 1.5rem 0 40px;

    &-main {
      color: $white;
    }
  }
}
