.app {
  &-item {
    display: flex;
    column-gap: 9rem;

    @include mobile {
      @include flex {
        flex-direction: column-reverse;
      }
    }
  }

  &-content {
    max-width: 50%;

    @include flex(flex-start, stretch) {
      flex-direction: column;
    }
    row-gap: 1rem;
    padding-top: 1rem;

    @include mobile {
      max-width: 100%;
    }
  }

  &-image {
    width: 333px;
    height: 278px;
  }
}
