.w-max {
	width: max-content;
}

@function font($size) {
  $result: 16 * calc(($size + 1) / 2);
  @return $result
}

@for $i from 1 through 7 {
  $size: font($i);
  
  .font-#{$size} {
      font-size: #{$size}px;
  }
}

.font-small {
  font-size: 12.8px;
}

.font-13 {
	font-size: 13.3px;
}

.font-30 {
	font-size: 30px;
}

.bold {
	@include bold;
}

.center {
	@include text-center;
}

.upperCase {
	@include upCase;
}

.capitalize {
	@include capitalize;
}

.nowrap {
	white-space: nowrap;
}

.pt-100 {
	padding-top: 100px;
}

.p-200 {
	padding-top: 200px;
	padding-bottom: 200px;
}

.mt-65 {
	margin-top: 65px;
}

.mb-1 {
	margin-bottom: 1em;
}

.mb-3 {
	margin-bottom: 3rem;
}

.mb-100 {
	margin-bottom: 100px;
}

.h-200 {
	width: 100%;
	height: 200px;
}

.row-reverse {
	flex-direction: row-reverse;
}

.span-1 {
	grid-column: span 1;
}

.span-row {
	grid-column: 1 / -1;
}

.orange {
	color: $orange;
}

.bg-free {
	background-image: url(../../images/subscribe_1.png);
}

.bg-standart {
	background-image: url(../../images/subscribe_2.png);
}

.bg-premium {
	background-image: url(../../images/subscribe_3.png);
}