@function font($size) {
  $result: $basic * calc(($size + 1) / 2);
  @return $result
}

@for $i from 1 through 7 {
  $size: font($i);
  
  .font-#{$size} {
      font-size: #{$size}px;
  }
}

.font-small {
  font-size: 12.8px
}