@function font($size) {
  $result: $basic * calc(($size + 1) / 2);
  @return $result
}

@for $i from 1 through 7 {
  $size: font($i);
  
  .font-#{$size} {
      font-size: #{$size}px;
  }
}

.font-small {
  font-size: 12.8px;
}

.font-13 {
	font-size: 13.3px;
}

.center {
	@include text-center;
}

.p-200 {
	padding-top: 200px;
	padding-bottom: 200px;
}

.col-span-2 {
	grid-column: span 2;
}