.hero {
	padding: 200px 0;
  color: $white;

	@include mobile {
		padding-top: 250px;
	}

  h2 {
    margin-bottom: 2rem;

    @include mobile {
      margin-bottom: 1rem;
    }
  }

  .registration {
    display: grid;
    grid-template-columns: repeat(2, minmax(270px, 1fr));
    grid-gap: 1.5rem;
    max-width: 570px;

    margin: 0 auto;

    @include mobile {
      grid-template-columns: 100%;
    }

    &-item {
      min-height: 50px;
      border: 2px solid $primary;
      border-radius: 3px;

      background-color: transparent;

      &::placeholder {
        font: 700 14/1.1 Roboto, sans-serif;
        color: $white;
        padding-left: 20px;
      }
    }
  }
}