.discography {
  &-bar {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 25px 50px;

    @include mobile {
      grid-template-columns: repeat(2, auto);
    }
  }

  &-wallpaper {
    @include square(250px);
    margin-bottom: 18px;

    @include mobile {
      @include square(137px);
    }
  }
}