@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../../fonts/Roboto/Roboto-Bold.ttf");
}
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font: 400 16px/1.5 Roboto, sans-serif;
  color: #cacaca;
  background-color: #08020d;
}

h1,
h2,
h3,
h4 {
  line-height: 1.5;
  color: #ffffff;
}

h1,
h2,
h3 {
  text-align: center;
  text-transform: uppercase;
}

h1,
h2,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

h4 {
  font-size: 18px;
}

@media (max-width: 1239px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  img {
    width: 100%;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: block;
  padding: 20px 30px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.btn-green {
  background-color: #34c176;
}
.btn-purple {
  background-color: #5328a1;
}
.btn-brown {
  background-color: #95390c;
}
.btn-brown-small {
  padding: 1rem 40px;
  background-color: #95390c;
  border-radius: 2rem;
  text-transform: none;
}
.btn-clear {
  padding: 20px 0;
  border: 1px solid #ffffff;
  background-color: transparent;
}
.btn-grey {
  padding: 1rem 30px;
  color: #cacaca;
  border: 1px solid #cacaca;
  background-color: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px !important;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.w-max {
  width: max-content;
}

.font-16 {
  font-size: 16px;
}

.font-24 {
  font-size: 24px;
}

.font-32 {
  font-size: 32px;
}

.font-40 {
  font-size: 40px;
}

.font-48 {
  font-size: 48px;
}

.font-56 {
  font-size: 56px;
}

.font-64 {
  font-size: 64px;
}

.font-small, .poptrack-title::after, .poptrack-title {
  font-size: 12.8px;
}

.font-13 {
  font-size: 13.3px;
}

.f-30 {
  font-size: 30px;
}
@media (max-width: 1239px) {
  .f-30 {
    font-size: 16px;
  }
}

.bold {
  font-weight: 700;
}

.center {
  text-align: center;
}

.left, .poptrack-title::after {
  text-align: left;
}

.upperCase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.nowrap {
  white-space: nowrap;
}

.pt-100 {
  padding-top: 100px;
}

.p-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.mt-65 {
  margin-top: 65px;
}

.mb-1em {
  margin-bottom: 1em;
}

.mb-1rem {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-100 {
  margin-bottom: 100px;
}

.h-200 {
  width: 100%;
  height: 200px;
}

.row-reverse {
  flex-direction: row-reverse;
}

.span-1 {
  grid-column: span 1;
}

.span-row {
  grid-column: 1/-1;
}

.orange {
  color: #f89202;
}

.bg-hero {
  background-position: center;
  background-size: cover;
  background-image: url("../../images/banner.png");
}

.bg-free {
  background-image: url("../../images/subscribe_1.png");
}

.bg-standart {
  background-image: url("../../images/subscribe_2.png");
}

.bg-premium {
  background-image: url("../../images/subscribe_3.png");
}

.bg-artist {
  background-position: center;
  background-size: cover;
  background-image: url("../../images/Morten Harket.png");
}

.nav-container {
  position: relative;
  width: 100%;
  height: auto;
}
.nav-container .navbar {
  position: absolute;
  top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1239px) {
  .nav-container .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}
.nav-container .navbar > * {
  /*
     font-size: 11px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  */
  font: 400 11px/1.5 Roboto, sans-serif;
  color: #cacaca;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 1239px) {
  .nav-container .navbar > * {
    margin-right: 0;
    font-weight: 700;
  }
}
.nav-container .navbar .logo {
  margin-right: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
@media (max-width: 1239px) {
  .nav-container .navbar .logo {
    margin-bottom: 1rem;
  }
}
.nav-container .navbar .logo::before {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  background-image: url("../../images/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}
.nav-container .navbar .nav-item {
  margin-right: 1.5rem;
}
.nav-container .navbar .nav-item:hover {
  color: #ffffff;
}
.nav-container .navbar .search {
  margin-left: auto;
}
@media (max-width: 1239px) {
  .nav-container .navbar .search {
    width: 100%;
    margin-top: 1rem;
    margin-left: 0;
  }
}
.nav-container .navbar .search-item {
  width: 248px;
  margin-left: auto;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  background-color: #3c3b3d;
}
@media (max-width: 1239px) {
  .nav-container .navbar .search-item {
    width: 100%;
  }
}
.nav-container .navbar .search-item::placeholder {
  font: 400 13.3px/1.3 sans-serif;
  text-transform: uppercase;
  color: #cacaca;
  opacity: 0.5;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  color: #ffffff;
}
@media (max-width: 1239px) {
  .hero {
    padding-top: 248px;
  }
}
.hero h2 {
  margin-bottom: 2rem;
}
@media (max-width: 1239px) {
  .hero h2 {
    margin-bottom: 1rem;
  }
}
.hero .registration {
  display: grid;
  grid-template-columns: repeat(2, minmax(270px, 1fr));
  grid-gap: 1.5rem;
  max-width: 570px;
  margin: 0 auto;
}
@media (max-width: 1239px) {
  .hero .registration {
    grid-template-columns: 100%;
  }
}
.hero .registration-item {
  box-sizing: border-box;
  min-height: 50px;
  padding-left: 20px;
  color: #ffffff;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background-color: transparent;
}
.hero .registration-item::placeholder {
  font: 700 14px/1rem Roboto, sans-serif;
  color: #ffffff;
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  margin-bottom: 40px;
}
@media (max-width: 1239px) {
  .pricing {
    flex-direction: column;
    row-gap: 50px;
  }
}
.pricing-item {
  box-sizing: border-box;
  flex: 1 1 374px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 120px repeat(3, auto);
  row-gap: 40px;
  padding: 1.5rem;
  border-radius: 1rem;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1239px) {
  .pricing-item {
    max-width: 374px;
    padding-top: 1rem;
  }
}
.pricing-value {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 1rem;
  color: #ffffff;
}
.pricing-value .price {
  line-height: 1;
}
.pricing-value .value {
  text-transform: uppercase;
}
.pricing-footer {
  margin: 1.5rem 0 40px;
}
.pricing-footer-main {
  color: #ffffff;
}

.news-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 50px;
}
@media (max-width: 1239px) {
  .news-item {
    flex-direction: column;
    row-gap: 50px;
  }
}
.news-content > * {
  text-align: left;
}
.news-content {
  margin-bottom: 1.5rem;
}
.news-author {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 3rem;
}
.news-author::before {
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../../images/avatar.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.app-item {
  display: flex;
  column-gap: 9rem;
}
@media (max-width: 1239px) {
  .app-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
.app-content {
  max-width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  row-gap: 1rem;
  padding-top: 1rem;
}
@media (max-width: 1239px) {
  .app-content {
    max-width: 100%;
  }
}
.app-image {
  width: 333px;
  height: 278px;
}

.art-btns {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-gap: 1.5rem;
}
@media (max-width: 1239px) {
  .art-btns {
    grid-template-columns: 200px;
  }
}
.art-btns .icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}
.art-btns .play::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
  background-image: url("../../images/play-button.svg");
  filter: invert(1);
  content: "";
}
.art-btns .heart::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
  background-image: url("../../images/heart.svg");
  filter: invert(1);
  content: "";
}

.poptrack-bar {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 50px;
  row-gap: 25px;
}
@media (max-width: 1239px) {
  .poptrack-bar {
    grid-template-columns: 100%;
  }
}
.poptrack-wallpaper {
  display: inline-block;
  width: 55px;
  height: 55px;
}
.poptrack-item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 15px;
}
.poptrack-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.poptrack-title {
  font-weight: 700;
}
.poptrack-title::after {
  display: block;
  font-weight: 400;
  text-transform: capitalize;
  color: #e0e0e0;
  content: "Morten Harket";
}

.discography-bar {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 25px 50px;
}
@media (max-width: 1239px) {
  .discography-bar {
    grid-template-columns: repeat(2, 137px);
  }
}
.discography-wallpaper {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin-bottom: 18px;
}
@media (max-width: 1239px) {
  .discography-wallpaper {
    display: inline-block;
    width: 137px;
    height: 137px;
  }
}

.similar-bar {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 25px 50px;
}
@media (max-width: 1239px) {
  .similar-bar {
    grid-template-columns: repeat(2, 137px);
  }
}
.similar-wallpaper {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin-bottom: 18px;
}
@media (max-width: 1239px) {
  .similar-wallpaper {
    display: inline-block;
    width: 137px;
    height: 137px;
  }
}
.similar-info {
  text-align: center;
}

.footer {
  color: #e0e0e0;
  background-image: linear-gradient(265deg, #95390c 14.9%, #5328a1 68.95%);
}
.footer-main {
  display: flex;
  column-gap: 40px;
  padding: 3rem 0;
}
@media (max-width: 1239px) {
  .footer-main {
    flex-direction: column;
    row-gap: 30px;
  }
}
.footer-main-item {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}
.footer-main-item h4 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.footer-main-item .follow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 24px;
}
.footer-main-item .follow .follow-link {
  display: inline-block;
}
.footer .line {
  width: 100%;
  height: 2px;
  background-color: #cacaca;
}
.footer-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
  padding: 2rem 0;
}
@media (max-width: 1239px) {
  .footer-nav {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
